<!DOCTYPE html>
<html>
<head>
    <title>Owlcam</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="header">
        <span class="logo">picam-boys owlcam</span>
        
        </div>
      </div>
    
    <form action="/stream" method="post">
        <button type="submit">Start Stream</button>
    </form>

    <form action="/test" method="post">
        <button type="submit">test</button>
    </form>

</body>
</html>